/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 11 */

.header {
    width: 100%;
    float: left;
}

.logo {
    float: left;
}

.navigation {
    float: right;
}



.main-content {
    width: 100%;
    float: left;
    
}
/* hint! */

.post {
    width: 100%;
    float: left;
}
/* hint! */

.image {
    float: left;
}

.post_excerpt {
    float: right;
}
