/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 10 */

.header {
    width: 100%;
}

.sidebar {
    float: left;
    width: 35%;
    height: 300px;
}

.main-content {
    float: left;
    width: 65%;
    height: 300px;        
}

.container {
    float: left;
    width: 80%;
    height: 340px;
}

.footer {
    clear: both;
    width: 100%;
}

/* what do you have to add to make the sidebar and content and footer not be the full width of the browser? */