/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 09 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {
    width: 100%;
}


.sidebar {
    float: left;
    height: 300px;
    width: 25%;
}

.main-content {
    float: left;
    height: 300px;
    width: 50%;
}

.sub-content {
    float: left;
    height: 300px;
    width: 25%;
}


.footer {
    clear:both;
}

/* what do you have to add to make the sidebar and content and footer not be the full width of the browser? */