/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 04 */

.container {
	width: 1024px;
	margin: 0 auto;
}


.header {
    overflow: hidden;
}
/* hint! you have to contain the floated children elements. */

.logo {
	/* hint! */
    float: left;
}

.navigation {
	/* hint! */
    float: right;
}

.sidebar {
    float: left;
	width: 250px;
    height: 300px;
}

.main-content {
    float: left;
	/* hint! */
    width: 734px;
    height: 300px;
}

.footer 
    clear: both;
}
