/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 05 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {
	float: left;
	width: 100%;
	overflow: auto;
}
/* hint! what do you have to add here? */

.logo {
	float: left;
}

.navigation {
	float: right;
}

.main-content {
	width: 100%;
	float: left;
	height:340px;
}

/* hint! you have to contain the floated children elements. */
.sidebar {
	float: left;
	height: 300px;
	width: 250px;
}


.sub-content {
	/* hint! */
	float: right;
	height: 100px;
    width: 675px;
}

.sub-content-2 {
	/* hint! */
	float: right;
	height: 100px;
	width: 675px;
}

.footer {
	clear: both;
}