/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 08 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {}


.sidebar {
    float: left;
    height: 300px;
    width: 25%;
}

.main-content {
    float: left;
    height: 300px;
    width: 50%;
}

.sub-content {
    float: left;
    height: 300px;
    width: 25%;
}


.footer {
    clear:both;
}
