/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 07 */

.container {
	width: 90%; /* change me to a percentage width, like 80% */
	margin: 0 auto;
}


.header {
    float: left;
	width: 100%;
	overflow: auto;
}

.logo {
    float: left;
}

.navigation {
    float: right;
}

.sidebar {
    float: left;
	height: 300px;
	width: 26%;
}

.main-content {
    width: 100%;
	float: left;
	height:340px;
}

.sub-content {
    float: right;
	height: 100px;
    width: 72.5%;
}

.sub-content-2 {
    float: right;
	height: 100px;
    width: 72.5%;
}

.footer {
    clear: both;
}
